/* FONTS */
@import 'variables';

*{
    font-family: $fontP;
    transition: all .15s ease-in;    
}

body, .home, footer{

    background-size: cover;
    max-width: 100vw;
    overflow-x: hidden;
}

.tran{
    transition: all .2s ease-in;
}

.cursor{
    cursor: pointer;
}

.hide{
    display: none;
    -webkit-animation: opacity-down .2s; /* Safari 4+ */
    -moz-animation:    opacity-down .2s; /* Fx 5+ */
    -o-animation:      opacity-down .2s; /* Opera 12+ */
    animation:         opacity-down .2s; /* IE 10+, Fx 29+ */
}

.show{
    -webkit-animation: opacity .2s; /* Safari 4+ */
    -moz-animation:    opacity .2s; /* Fx 5+ */
    -o-animation:      opacity .2s; /* Opera 12+ */
    animation:         opacity .2s; /* IE 10+, Fx 29+ */
}

.hover:hover{
    opacity: .8;
}



//FONTS

.font-m{
    font-family: $fontM !important;
}

.font-t{
    font-family: $fontT !important;
}
.font-100{
    font-weight: 100 !important;
}
.font-300{
    font-weight: 300 !important;
}
.font-500{
    font-weight: 500 !important;
}
.font-700{
    font-weight: 700 !important;
}
.font-900{
    font-weight: 900 !important;
}

.semibold-condensed{
    font-stretch: condensed;
    font-weight: 500;
}

.condensed{
    font-stretch: condensed;
    font-weight: normal;
}


// COLORS

.bg-black{
    background-color: #000000;
}

.text-color1{
    color: $color1;
}

.bg-color1{
    background-color: $color1;
}

.text-color2{
    color: $color2;
}

.bg-color2{
    background-color: $color2;
}

.text-color3{
    color: $color3;
}

.bg-color3{
    background-color: $color3;
}

.text-color4{
    color: $color4;
}

.bg-color4{
    background-color: $color4;
}

.text-color5{
    color: $color5;
}

.bg-color5{
    background-color: $color5;
}

.text-color6{
    color: $color6;
}

.bg-color6{
    background-color: $color6;
}

.text-color7{
    color: $color7;
}

.bg-color7{
    background-color: $color7;
}
.text-color8{
    color: $color8;
}

.bg-color8{
    background-color: $color8;
}
.text-color9{
    color: $color9;
}

.bg-color9{
    background-color: $color9;
}


.f-8{
    font-size: 8pt;
}
.f-9{
    font-size: 9pt;
}
.f-10{
    font-size: 10pt;
}
.f-11{
    font-size: 11pt;
}
.f-12{
    font-size: 12pt;
}
.f-13{
    font-size: 13pt;
}
.f-14{
    font-size: 14pt;
}
.f-15{
    font-size: 15pt;
}
.f-16{
    font-size: 16pt;
}
.f-17{
    font-size: 17pt;
}
.f-18{
    font-size: 18pt;
}
.f-19{
    font-size: 19pt;
}
.f-20{
    font-size: 20pt;
}
.f-21{
    font-size: 21pt;
}
.f-22{
    font-size: 22pt;
}
.f-23{
    font-size: 23pt;
}
.f-24{
    font-size: 24pt;
}
.f-25{
    font-size: 25pt;
}
.f-26{
    font-size: 26pt;
}

.f-46{
    font-size: 46pt;
}






// BUTTONS

.btn1{    
    background-color: $color1;
    color: white;
    border: none;
    padding: 8px 50px 8px 50px;
    border-radius: 20px;
}  

.btn1:hover{
    opacity: 0.7;
}

.btn2{
    background-color: $color2;
    color: white;
    border: none;
    padding: 8px 50px 8px 50px;
    border-radius: 20px;
}
.btn2:hover{
    opacity: 0.7;    
}

.btn3{
    background-color: $color6;
    color: white;
    border: none;
    padding: 8px 50px 8px 50px;
    border-radius: 20px;
}
.btn3:hover{
    opacity: 0.7;
}


//SELECTS

.select1{
    option{
        font-size: 13pt;
    }
    min-height: 35px;
    border-radius: 5px;
    color: $color3;
    border: 1.5px solid white;
    font-size: 13pt;
}

.select2{
    option{
        font-size: 13pt;
    }
    min-height: 35px;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0);
    color: white;
    border: 1.5px solid white;
    font-size: 13pt;
}

.select3{
    option{
        font-size: 13pt;
    }
    min-height: 35px;
    border-radius: 5px;
    color: $color2;
    border: 1.5px solid $color5;
    font-size: 13pt;
}

.select4{
    option{
        font-size: 13pt;
    }
    min-height: 35px;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0);
    color: $color5;
    border: 1.5px solid $color5;
    font-size: 13pt;
}


.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    text-decoration: none;

  }
}

.link-unstyled:hover{

    opacity: .8;

}


//PARRAFOS

.letter-spanded{
    letter-spacing: 4px;
}

.letter-thin{
    letter-spacing: 2px;
}

.parraf1{
    font-size: 10pt;
}



//FELX

.flex-1{
    flex: 1;
}


//KEYFRAMES 

@-webkit-keyframes opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes opacity-down {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes opacity-down {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes opacity-down {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes opacity-down {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

//degradado

.dregad{
    background-image: linear-gradient(rgb(36, 234, 215) 0%, rgb(41, 137, 216) 100%, rgb(12, 38, 196) 100%);
}


//LOAD

.load{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba($color: #ffffff, $alpha: .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000000000;    
}






//GLOBALS

.menu-container, .container-container{
    min-height: 100vh-7.4;
}


:focus {outline:0 !important;}


//MODAL

.ant-modal-content{
    border-radius: 20px !important;
}
.ant-modal-header{
    border-bottom: 0 !important;
    border-radius: 20px !important;
}

.ant-modal-footer{
    border-top: 0 !important;
}



//CONTAINERS
.menu-container, .container-container{
    min-height: 100vh-7.4;
}

.upload{
    position: relative;   
    input{
        top:0;
        left: 0;
        position: absolute;
        opacity: 0;
        z-index: 1;
    }
}


.radius{
    border-radius: 20px;
}