/* FONTS */

$fontM: MyriadPro;
$fontT: TrebuchetMS;
$fontP: Poppins;


// COLORS 


$color1: #0D142E;
$color2: #69D821;
$color3: #e38620;
$color4: #FB0E66;
$color5: #ecf0f5;
$color6: #B5B5B7;
$color7: #FF9100;
$color8: #FB0E66;
$color9: #1AD99D;

